
.tableImage{
    /* border: 2px solid wheat; */
    display: grid;
    grid-template-columns: 200px 200px 200px 200px; 
    margin: 10%;
    grid-gap: 150px;
}

.tableImage2{
    /* border: 2px solid wheat; */
    display: grid;
    grid-template-columns: 800px 800px; 
    grid-gap: 50px;
    align-items: center;
    justify-items: center;
}

.tableImage3{
    /* border: 2px solid wheat; */
    display: grid;
    grid-template-columns: 200px; 
    margin-left: 40%;
    grid-gap: 150px;
    align-items: center;
    justify-items: center;
}

.tableImage4{
    /* border: 2px solid wheat; */
    display: grid;
    grid-template-columns: 600px 600px; 
    margin-left: 10%;
    grid-gap: 150px;
    align-items: center;
    justify-items: center;
}

.tableImage5{
    /* border: 2px solid wheat; */
    display: grid;
    grid-template-columns: 300px; 
    margin-left: 40%;
    grid-gap: 150px;
    align-items: center;
    justify-items: center;
}

.gui{
    width: 300%;
}

.design{
    width: 120%;
}

.pcb{
    width: 80%;
}

.sp{
    width: 150%;
    height: 110%;
    border: 2px solid orange;
    border-radius: 10px;
}

.judul{
    color: white;
    margin-top: 80px;
}

.konteks{
    /* border: 2px solid wheat; */
    text-align: justify;
    color: white;
    font-size: 200%;
    margin: 100px;
}

/* ___________PROGRAM GLOBAL___________ */
body{
    background: url(milkyway.jpg)
}

header{
    width: 97%;
    /* border: 2px solid wheat; */
    height: 50px;
    background-color: none;
    padding: 10px 16px;
    color: #f1f1f1;
    border-radius: 10px;
    padding-top: 10px;
}
  
header + .sticky + .isi{
padding-top: 56px;
}

#fill{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
  }

#icon{
color: white;
text-decoration: none;
}

#icon:hover{
cursor: pointer;
}

#menuHeader2{
    display: grid;
    grid-gap:1px;
    grid-template-columns: 200px 300px 500px 100px 100px 150px;
}

.sticky {
    width: 97%;
    /* border: 2px solid wheat; */
    background-color: rgba(75, 82, 126,.5);
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
  
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #2E4374;
}

::-webkit-scrollbar
{
    width: 3px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #4B527E;
    /* border: 2px solid white;*/
} 

.circular-menu {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.circular-menu .floating-btn {
    display: block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #7C81AD;
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 3.9;
    cursor: pointer;
    outline: 0;
}

.circular-menu.active .floating-btn {
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
    font-size: 1.3em;
    transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
    transform: rotate(-45deg);
}

.circular-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    background-color:#2E4374;
    transition: all .3s ease;
}

.circular-menu.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
}

.circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: hsla(0,0%,0%,.1);
    transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
    background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
    transform: translate3d(1em,-7em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-3.5em,-6.3em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em,-3.2em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-7em,1em,0);
}
/* ________________AKHIR PROGRAM GLOBAL_________________ */